<h1><%= @article.title %></h1>
<div> 
	<%=@article.body%> 
</div>
<p>
	Escrito por: 
	<% unless @article.user.nil? %>
		 <%= @article.user.email %>
	<% end %>	
</p>
<div>
	<%=link_to "Editar", edit_article_path(@article) %>
</div>