<h1 align="center"> ¡Bienvendios <%= current_user.email %> al mejor blog de Dota 2! </h1>
<h3 align="center"> administrado por the best player the world have ever fucking seen! alexGhoro aka Pádme Amidala! </h3>
<h3 align="center">  created by:  Fast GG.studios</h3>

